<!--in a cart, you add products that you're going to buy-->
<table class="table">
  <thead>
    <th>Product Name</th>
    <th>Product Image</th>
    <th>Product Price</th>
    <th>Units Number</th>
    <th>Total Price</th>
  </thead>
  <tr *ngFor="let product of products | keyvalue">
    <td>{{product.key.Name}}</td>
    <td>{{product.key.img}}</td>
    <td>{{product.key.Price}}</td>
    <td>{{products.value}}</td>
    <td>{{products.value}}*{{product.key.Price}}</td>
  </tr>
</table>
<app-footer></app-footer>
