<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button type="button" class="btn btn-outline-secondary mr-2" ngbDropdownAnchor (focus)="myDrop.open()">
        CartCounter
        <span class="badge badge-secondary">{{numProducts}}</span>
    </button>
    <div class="container">
        <div ngbDropdownMenu aria-labelledby="dropdownManual">
            <li ngbDropdownItem>HT-1000<span class=" x">X</span></li>
            <li ngbDropdownItem>HT-1000<span class="btn-danger x">X</span></li>
            <li ngbDropdownItem>HT-1000<span class="btn-danger x">X</span></li>
        </div>
    </div>
</div>