<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button type="button" class="btn btn-outline-secondary mr-2" ngbDropdownAnchor (focus)="myDrop.open()">
        CartCounter
        <span class="badge badge-secondary">{{numProducts}}</span>
    </button>
    <div *ngIf="products" class="container">
        <div *ngIf="products" ngbDropdownMenu aria-labelledby="dropdownManual" class="row">
            <li *ngFor="let product of products | keyvalue" ngbDropdownItem>{{product.key}}
                <span class="badge badge-pill badge-success"><b>{{product.value}}</b></span><span (click)="removeProduct(product)"
                    class="btn x">X</span></li>
        </div>
    </div>
</div>