<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
    <button type="button" class="btn btn-outline-secondary mr-2" ngbDropdownAnchor (focus)="myDrop.open()">
        Wishcounter
        <span class="badge badge-secondary">{{numProducts}}</span>
    </button>
    <div *ngIf="productList" class="container">
        <div *ngIf="productList" ngbDropdownMenu aria-labelledby="dropdownManual" class="row">
            <li *ngFor="let product of productList" ngbDropdownItem>{{product.Name}}
                <span class="badge badge-pill badge-success"></span><span
                    (click)="removeProduct(product)" class="btn x">X</span></li>
        </div>
    </div>
</div>